# Virtual environment directories
.venv/
venv/
.Python

# pip
pip-selfcheck.json

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE directories
.idea/
.git/
.env_copy
README.md
TZ
test.py
TODO
.gitignore
